/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  margin-right: 20px;
  width: calc(100vw - 270px);
  background-color: rgba(0, 0, 0, 0.6);
}

.upgrade {
  width: calc(100vw - 273px);
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.btn-upgrade {
  width: 210px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-upgrade > span {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

/* MAIN */
main {
  height: calc(100vh - 80px);
  display: flex;
  background-color: blue;
}

/* ASIDE BAR */
aside {
  height: 100%;
  width: 250px;
  background-color: #000000;
}

.sidebar {
  padding-left: 20px;
}

.logo-spotify > img {
  width: 70%;
}

.txt-sidebar {
  padding: 10px 0;
}

.txt-sidebar > img {
  width: 11%;
  vertical-align: middle;
}

.txt-sidebar > p {
  color: #b3b3b3;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.playlist {
  height: 395px;
  overflow-y: auto;
}

.title-playlist > h3 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.txt-playlist {
  padding: 5px 0;
  color: #fff;
  opacity: .7;
  background-color: transparent;
  border: none;
}

.txt-playlist > img {
  width: 20%;
  vertical-align: middle;
}

#playlist-plus {
  padding-left: 9px;
}

.txt-playlist-2 > li {
  color: #b3b3b3;
  padding: 12px 0;
}

.install {
  padding-top: 55px;
}

.install > i {
  font-size: 15px;
}

.install > p {
font-size: 12px;
margin: 0;
display: inline;
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 25px;
}

.profile > i {
  font-size: 22px;
}

.profile > p {
  display: inline;
  color: #ffffff;
  margin: 0;
  font-size: 15px;

}

/* MAIN CONTENT SECTIONS */
.content {
  width: calc(100% - 250px);
  overflow-y: auto;
}

.content > section {
  height: 300px;
  margin: 40px 0;
  background-color: yellow;
}

/* FOOTER */
footer {
  height: 80px;
  background-color: gray;
}

footer > section{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
